@model DailyMenu.Models.Business


<div class="row" style="height:83vh">

    <div class="col-sm-3 h-100" style=" float:left">

        <div class="col-sm-12">
            <form method="post">
                <fieldset>
                    <legend>Fill the below details </legend>

                    <div class="form-group">
                        <label for="Name" class="form-label mt-4">Name</label>
                        <input type="text" class="form-control" asp-for="@Model.Name" id="businessName" aria-describedby="emailHelp" placeholder="Enter name">
                    </div>
                    @*<div class="form-group">
            <label for="City" class="form-label mt-4">City</label>
            <input type="text" class="form-control" asp-for="@Model.CityId" id="city" aria-describedby="emailHelp" placeholder="Enter name" value="1">
        </div>*@

                    <div class="form-group">
                        <label asp-for="@Model.City"></label>
                        @Html.DropDownListFor(c => c.CityId, (IEnumerable<SelectListItem>)ViewBag.CityList, "--Please select the city", new { @class = "form-control" })

                    </div>


                    @*<div class="form-group">
                        <label for="Category" class="form-label mt-4">Category</label>
                        <input type="text" class="form-control" asp-for="@Model.CategoryId" id="category" aria-describedby="emailHelp" placeholder="Enter name" value="1">
                    </div>*@

                    <div class="form-group">
                        <label asp-for="@Model.Category"></label>
                        @Html.DropDownListFor(c => c.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, "--Please select the category", new { @class = "form-control" })

                    </div>


                    <div class="form-group">
                        <label for="exampleInputPassword1" class="form-label mt-4">Map coordinates</label>
                        <input type="text" class="form-control" id="mapCoordinates" asp-for="@Model.MapPositionCoordinates" placeholder="Coordinates">



                    </div>
                    <input type="hidden" class="form-control" id="IsDeleted" asp-for="@Model.IsDeleted" placeholder="IsDeleted" value="0">


                    <button type="submit" asp-action="Post" asp-area="Owner" asp-controller="RegisterBusiness" class="btn btn-primary">Register</button>
                </fieldset>
            </form>

        </div>

    </div>

    <div class="col-sm-9 h-100" style=" float:left" id="map">


    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    //This start function will be called first by the google api. It will get the user position and pass it to the success function
    function start() {
        navigator.geolocation.getCurrentPosition(success);
    }

    let map;
    //This function will get the position from the start function and pass the coordinates to the initMap function
    function success(pos) {
        var crd = pos.coords;
        initMap(crd);
    }

    //This will update the map dive and display the user position and also a marker on that position
    function initMap(coordinates) {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: coordinates.latitude, lng: coordinates.longitude },
            zoom: 15,
        });
            new google.maps.Marker({

                position: { lat: coordinates.latitude, lng: coordinates.longitude },
                map,
                title: "More or less" + coordinates.accuracy + " meters",
            });


        map.addListener("click", (mapsMouseEvent) => {

           // alert(mapsMouseEvent.latLng);

            document.getElementById("mapCoordinates").value = mapsMouseEvent.latLng;

            map.setZoom(20);
            map.setCenter(mapsMouseEvent.latLng);
        });



    }
</script>