@model DailyMenu.Models.Business


<div class="row" style=" height:80vh">

    <div class="col-sm-3 h-100" style=" float:left">


        <form method="post">
            <fieldset>
                <legend>Edit Details </legend>

                <div class="form-group">
                    <label for="Name" class="form-label mt-4">Name</label>
                    <input type="text" class="form-control" asp-for="@Model.Name" id="businessName" aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                @*<div class="form-group">
                    <label for="City" class="form-label mt-4">City</label>
                    <input type="text" class="form-control" asp-for="@Model.CityId" id="city" aria-describedby="emailHelp" placeholder="Enter name" value="1">
                </div>*@

                <div class="form-group">
                    <label asp-for="@Model.CityId"></label>
                    @Html.DropDownListFor(c => c.CityId, (IEnumerable<SelectListItem>)ViewBag.CityList, "--Please select the city", new { @class = "form-control" })

                </div>


                @*<div class="form-group">
                    <label for="Category" class="form-label mt-4">Category</label>
                    <input type="text" class="form-control" asp-for="@Model.CategoryId" id="category" aria-describedby="emailHelp" placeholder="Enter name" value="1">
                </div>*@

                <div class="form-group">
                    <label asp-for="@Model.CategoryId"></label>
                    @Html.DropDownListFor(c => c.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, "--Please select the category", new { @class = "form-control" })

                </div>


                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label mt-4">Map coordinates</label>
                    <input type="text" class="form-control" id="mapCoordinates" asp-for="@Model.MapPositionCoordinates" placeholder="Coordinates">



                </div>
                <input type="hidden" class="form-control" id="IsDeleted" asp-for="@Model.IsDeleted" placeholder="IsDeleted" value="0">


                <button type="submit" asp-action="Post" asp-area="Owner" asp-controller="Business" class="btn btn-primary">Edit</button>
            </fieldset>
        </form>


    </div>

    <div class="col-sm-9 h-100" style=" float:left">

        <div class="h-75" style=" background-color: black; " id="map">



        </div>
        <div class="h-25" style=" overflow-y: auto;">


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">City</th>
                        <th scope="col">Location Coordinates</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var business in ViewBag.registeredBusinesses)
                    {
                        <tr class="table-primary" onclick="updateTheBusinessLocationOnTableRowClick(this)">

                            <td>@business.Name</td>
                            <td>@business.Category.Name</td>
                            <td>@business.City.Name</td>
                            <td class="Coordinate">@business.MapPositionCoordinates</td>
                        </tr>

                    }

                </tbody>
            </table>



        </div>



    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>

    function updateTheBusinessLocationOnTableRowClick(object) {
        var coordinates = $(object).find('.Coordinate').text();
        var coordLatLang = coordinates.split(',');
        var lat = coordLatLang[0].replace('(', '');
        var lang = coordLatLang[1].replace(')', '');

        var coordinatesObject = { latitude: parseFloat(lat), longitude: parseFloat(lang), accuracy: 0 }
        initMap(coordinatesObject);

    }


    //This start function will be called first by the google api. It will get the user position and pass it to the success function
    function start() {
        navigator.geolocation.getCurrentPosition(success);
    }

    let map;
    //This function will get the position from the start function and pass the coordinates to the initMap function
    function success(pos) {
        var crd = pos.coords;
        initMap(crd);
    }

    //This will update the map dive and display the user position and also a marker on that position
    function initMap(coordinates) {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: coordinates.latitude, lng: coordinates.longitude },
            zoom: 15,
        });
        new google.maps.Marker({

            position: { lat: coordinates.latitude, lng: coordinates.longitude },
            map,
            title: "More or less" + coordinates.accuracy + " meters",
        });


        map.addListener("click", (mapsMouseEvent) => {

            // alert(mapsMouseEvent.latLng);

            document.getElementById("mapCoordinates").value = mapsMouseEvent.latLng;

            map.setZoom(20);
            map.setCenter(mapsMouseEvent.latLng);
        });



    }
</script>

