@model DailyMenu.Models.Business


<div class="row" style=" height:80vh">

    <div class="col-sm-3 h-100" style=" float:left">


        <form method="post" style="padding:10px;">
            <fieldset>
                <legend>Edit Details </legend>


                <input type="hidden" class="form-control" asp-for="@Model.ID" id="businessID" placeholder="Enter name" value="20">

                <div class="form-group">
                    <label for="Name" class="form-label mt-4">Name</label>
                    <input type="text" class="form-control" asp-for="@Model.Name" id="businessName" aria-describedby="emailHelp" placeholder="Enter name">
                </div>
                @*<div class="form-group">
            <label for="City" class="form-label mt-4">City</label>
            <input type="text" class="form-control" asp-for="@Model.CityId" id="city" aria-describedby="emailHelp" placeholder="Enter name" value="1">
        </div>*@

                <div class="form-group">
                    <label asp-for="@Model.City"></label>
                    @Html.DropDownListFor(c => c.CityId, (IEnumerable<SelectListItem>)ViewBag.CityList, "--Please select the city", new { @class = "form-control" })

                </div>


                @*<div class="form-group">
            <label for="Category" class="form-label mt-4">Category</label>
            <input type="text" class="form-control" asp-for="@Model.CategoryId" id="category" aria-describedby="emailHelp" placeholder="Enter name" value="1">
        </div>*@

                <div class="form-group">
                    <label asp-for="@Model.Category"></label>
                    @Html.DropDownListFor(c => c.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryList, "--Please select the category", new { @class = "form-control" })

                </div>


                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label mt-4">Map coordinates</label>
                    <input type="text" class="form-control" id="mapCoordinates" asp-for="@Model.MapPositionCoordinates" placeholder="Coordinates">



                </div>
                <input type="hidden" class="form-control" id="MenuId" asp-for="@Model.MenuId" placeholder="MenuId">

                <div class="form-group" style="margin-top:15px;margin-bottom:15px;">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="flexSwitchCheckChecked">Delete the business</label>
                        <input class="form-check-input" id="IsDeleted" type="checkbox" asp-for="@Model.IsDeleted">
                    </div>
                </div>

                <button type="submit" asp-action="Post" asp-area="Owner" asp-controller="Business" class="btn btn-primary">Edit</button>
            </fieldset>
    </form>


</div>

    <div class="col-sm-9 h-100" style=" float:left">

        <div class="h-75" style=" background-color: black; " id="map">



        </div>
        <div class="h-25" style=" overflow-y: auto;">


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">City</th>
                        <th scope="col">Location Coordinates</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var business in ViewBag.registeredBusinesses)
                    {
                    <tr class="table-primary" onclick="updateTheBusinessLocationOnTableRowClick(this); updateFormFields(this);">

                        <td style="display:none;" class="ID">@business.ID</td>
                        <td class="name">@business.Name</td>
                        <td class="category">@business.Category.Name</td>
                        <td style="display:none;" class="catId">@business.Category.ID</td>
                        <td class="city">@business.City.Name</td>
                        <td style="display:none;" class="cId">@business.City.ID</td>
                        <td class="Coordinate">@business.MapPositionCoordinates</td>
                        <td class="menu" style="display:none;">@business.MenuId</td>
                        <td class="isdeleted" style="display:none;">@business.IsDeleted</td>
                    </tr>

                    }

                </tbody>
            </table>



        </div>



    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>

    function updateTheBusinessLocationOnTableRowClick(object) {
        var coordinates = $(object).find('.Coordinate').text();
        var coordLatLang = coordinates.split(',');
        var lat = coordLatLang[0].replace('(', '');
        var lang = coordLatLang[1].replace(')', '');

        var coordinatesObject = { latitude: parseFloat(lat), longitude: parseFloat(lang), accuracy: 0 }
        initMap(coordinatesObject);

    }

    function updateFormFields( object) {
        var ID = $(object).find('.ID').text();
        var name = $(object).find('.name').text();
        var coordinates = $(object).find('.Coordinate').text();
        var city = $(object).find('.cId').text();
        var category = $(object).find('.catId').text();
        var menu = $(object).find('.menu').text();
        var isdeleted = $(object).find('.isdeleted').text()=='False' ? 0 : 1;


        console.log(Boolean(isdeleted));

        document.getElementById("businessID").value = ID;
        document.getElementById("businessName").value = name;
        document.getElementById("mapCoordinates").value = coordinates;
        document.getElementById("CityId").value = city;
        document.getElementById("CategoryId").value = category;
        document.getElementById("MenuId").value = menu;
        document.getElementById("IsDeleted").checked = Boolean(isdeleted);

    }

    //This start function will be called first by the google api. It will get the user position and pass it to the success function
    function start() {
        navigator.geolocation.getCurrentPosition(success);
    }

    let map;
    //This function will get the position from the start function and pass the coordinates to the initMap function
    function success(pos) {
        var crd = pos.coords;
        initMap(crd);
    }

    //This will update the map dive and display the user position and also a marker on that position
    function initMap(coordinates) {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: coordinates.latitude, lng: coordinates.longitude },
            zoom: 15,
        });
        new google.maps.Marker({

            position: { lat: coordinates.latitude, lng: coordinates.longitude },
            map,
            title: "More or less" + coordinates.accuracy + " meters",
        });


        map.addListener("click", (mapsMouseEvent) => {

            // alert(mapsMouseEvent.latLng);

            document.getElementById("mapCoordinates").value = mapsMouseEvent.latLng;

            map.setZoom(20);
            map.setCenter(mapsMouseEvent.latLng);
        });



    }
</script>

